<h1> Hello! Welcome to my petition's page! :) </h1>
<p> These are the petitions for today: </p>

<ol>
<% @petitions.each do |petition| %>

	<li><strong>Title: </strong><%= petition[:title] %><br/>
		<strong>Body: </strong><%= petition[:body] %><br/>
		<strong>Status: </strong><%= petition[:status] %><br/>
		<strong>Created: </strong><%= petition[:created] %><br/>
		<strong>Deadline: </strong><%= petition[:deadline] %><br/>
		<strong>Signature Count: </strong><%= petition[:signatures] %>


	</li> 

	<br/>

<% end %>
</ol>